/**
 * File structure:
 * - Imports
 * - Browser resets
 * - General page styles
 * - Handy classes
 * - Message classes
 * - Main page elements
 * - jQuery UI Autocomplete
 */
th, td {
	padding: 10px;
}
p {
	margin: 8px 0 12px;
}



input[type="text"], textarea, input[type="number"], input[type="datetime-local"] {
	width: 300px;
	max-width: 100%;
}
input.small {
	min-width: 0px;
	width: 100px !important;
}



/**
 * Handy classes.
 */
.center {
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	width: 100%;
}

.center table {
	margin: 0 auto;
}


/**
 * Message classes.
 */
.error, .success {
	border: 1px solid #c99;
	background: #fdd;
	padding: 20px;
	margin: 0 0 10px;
}
.error p, .success p {
	margin: 0;
	padding: 0;
}
.success {
	border: 1px solid #9c9;
	background: #dfd;
	padding: 20px;
	margin: 0 0 10px;
}




/**
 * Main page elements.
 */
input[type="submit"] {
	margin: 10px 0;
	padding: 12px 20px;
	font-family: inherit;
	font-size: inherit;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .1);
	color: #fff;
	background: #18e;
	border: none;
	font-weight: bold;
}
input[type="submit"].inactive {
	opacity: 0.2;
}
input[type="text"], textarea, input[type="datetime-local"] {
	padding: 10px;
	font-family: inherit;
	font-size: inherit;
	border: 1px solid #f7f7f7;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .1);
	color: #696969;
	background: #fff;
	width: 100%;
}
.form .select {
	padding: 10px 3px;
	font-family: inherit;
	font-size: inherit;
	border: 1px solid #f7f7f7;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .1);
	color: #696969;
	float: left;
	background: #fff;
}
.form .select select {
	display: block;
	background: transparent;
	border: none;
	font-family: inherit;
	font-size: inherit;
}

.form {
	background: #fcfcfc;
	padding: 15px;
	margin: 20px 0;
}
.form-entry {
	margin: 20px 0;
	clear: both;
}
.form-entry .description {
	display: block;
	margin: 10px 0;
	font-weight: bold;
}
.form-entry .description .desc {
	display: block;
	font-weight: 300;
}
.checkbox {
	width: 500px;
	max-width: 100%;
	height: 45px;
	margin: -10px 0;
	position: relative;
	margin: 10px 0 -10px;
}
table .checkbox {
	width: 30px;
	margin: 3px 0 0;
	height: 20px;
}
.checkbox label {
	position: absolute;
	left: 12px;
	top: 0;
}
.checkbox label:before {
	content: '';
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: -2px;
	left: -12px;
	float: left;
	background: #fff;
	border:1px solid #ddd;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .1);
}
.checkbox label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 13px;
	height: 8px;
	background: transparent;
	top: 4px;
	left: -6px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
	transition: .1s;
	transform: rotate(-45deg);
}
.checkbox label:hover::after {
	opacity: 0.5;
}
.checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkbox input[type=checkbox]:checked + label:before {
	background: #08e;
}
.checkbox input[type=checkbox]:checked + label {
	color: #08e;
}
input[type=checkbox] {
	visibility: hidden;
}








.radio {
	width: 500px;
	max-width: 100%;
	height: 45px;
	margin: -10px 0;
	position: relative;
	margin: 10px 0 -10px;
}
table .radio {
	width: 30px;
	margin: 3px 0 0;
	height: 20px;
}
.radio label {
	position: absolute;
	left: 12px;
	top: 0;
}
.radio label:before {
	content: '';
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 13px;
	top: -2px;
	left: -12px;
	float: left;
	background: #fff;
	border:1px solid #ddd;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .1);
}
.radio label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 11px;
	height: 11px;
	border-radius: 6px;
	background: #fff;
	top: 5px;
	left: -5px;
	border-top: none;
	border-right: none;
	transition: .1s;
}
.radio label:hover::after {
	opacity: 0.5;
}
.radio input[type=radio]:checked + label:after {
	opacity: 1;
}
.radio input[type=radio]:checked + label:before {
	background: #08e;
}
.radio input[type=radio]:checked + label {
	color: #08e;
}
input[type=radio] {
	visibility: hidden;
}







.clear {
	clear: both;
}

ul.elections {
	margin: 0 -1.6%;
	padding: 0;
}
ul.elections > li {
	padding: 0 0 15px;
	margin: 0 1% 20px 1%;
	list-style-type: none;
	display: inline-block;
	width: 30.9%;
	vertical-align: top;
}
#content ul.elections > li h3 {
	margin-bottom: 0;
	font-size: 1.2em;
	font-weight: bold;
}
ul.elections > li p {
	padding: 0 0px;
	margin: 10px 0 0;
}
ul.elections > li ul {
	list-style-type: none;
	margin: 0 0;
	padding: 0;
}
ul.elections > li ul li {
	margin: 0;
	padding: 0;
}
ul.elections > li ul li a {
	text-decoration: underline !important;
}
.crop {
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 40px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	margin: 5px 5px 5px -5px;
}

.declined {
	opacity: 0.5;
}
.accepted {
	font-weight: bold;
}

.vertical-menu {
	width: 30%;
	float: left;
}
.vertical-menu h3 {
	display: block;
	background: #f7f7f7;
	text-transform: uppercase;
	font-size: 16px;
	padding: 6px;
	text-align: center;
	font-weight: 700;
	margin: 8px 30px 8px 0;
}
.vertical-menu ul li a {
	display: block;
	padding: 6px 1px 5px;
	font-size: 15px;
	border-bottom: 1px solid #eee;
	text-decoration: none;
	color: #575757;
	margin: 0 30px 0 0;
}
.vertical-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.vertical-menu ul li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.main-content {
	width: 70%;
	float: right;
	margin-top: 10px;
}

table.answer {
	margin: 0 auto;
	background: none;
	border: none !important;
}
.answer td {
	padding-right: 0;
	text-align: center;
}
.answer td:first-child {
	text-align: left;
	width: auto;
	padding-right: 20px;
}
a.action {
	text-decoration: none;
	text-align: center; 
	width: 107px;
	border: 0;
	margin: 0;
	display: inline-block;
	font-weight: bold;
	padding: 10px;
	background: #ccc;
	color: #fff !important;
}
.answer tr {
	border-bottom: 1px solid #ccc;
	background: none !important;
}

.accept {
	background: #4a2 !important;
}
.decline {
	background: #a23 !important;
}

ul.pagination {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	display: block;
	text-align: center;
}
ul.pagination li {
	margin: 0 auto;
	padding: 0;
	display: inline-block;
}
ul.pagination li a {
	display: inline-block;
	border: 1px solid #07d;
	background: #fff;
	color: #07d;
	text-decoration: none;
	padding: 10px;
}
ul.pagination li span {
	display: inline-block;
	border: 1px solid #07d;
	color: #07d;
	text-decoration: none;
	padding: 10px;
	opacity: 0.2;
}
ul.pagination li.active span {
	background: #07d;
	color: #fff;
	font-weight: bold;
	opacity: 1;
}


@media screen and (max-width: 1100px) {
	ul.elections > li {
		width: 47.5%;
		margin: 0 1% 20px;
	}
	.crop.big {
		margin: 0 auto;
		display: block;
	}
	table {
		margin: 10px auto;
	}
}
@media screen and (max-width: 700px) {
	.header a.action {
		right: 0px;
	}
	.admin td, .admin th {
		white-space: nowrap;
	}
	.vertical-menu {
		width: 100%;
		display: block;
		float: none;
		margin: 0 auto;
	}
	.vertical-menu h3 {
		margin: 8px 0 8px 0;
	}
	.vertical-menu ul li a {
		margin: 0;
	}
	.main-content {
		width: 100%;
		float: none;
		display: block;
		overflow: scroll;
	}
	ul.elections > li {
		width: 100%;
		margin: 0 0 20px;
	}
	.crop.big {
		margin: 0 auto;
		display: block;
	}
	table {
		margin: 10px auto;
	}
}


/**
 * jQuery autocomplete
 */
.ui-autocomplete, .ui-autocomplete-input {
	background: #000;
	font-family: 'Lato' !important;
	transition: all 0s;
}
.ui-autocomplete * {
	transition: all 0s;
}
.ui-autocomplete li {
	display: block;
}
.ui-autocomplete li a {
	display: block;
}
.ui-autocomplete li a div {
	margin-left: 0px;
}

footer {
	margin: 40px auto;
	display: block;
	text-align: center;
}
footer a {
	display: inline-block;
}

input.inactive {
	visibility: hidden;
	opacity: 0;
}

span.notif {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	font-size: 10px;
	text-align: center;
	position: relative;
	top: -7px;
	left: -5px;
	background: #a23;
	color: #fff;
	display: inline-block;
	text-decoration: none;
}