doctype transitional
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Spam-mail
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style.
      @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,700italic,900);
      * {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: "Lato", sans-serif;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
      }
      header, footer {
        background-color: #EE2A7B;
      }
      header { height: 150px; }
      footer { height: 80px; }
      header img {
        height: 100px;
        width: 100px;
        margin: 25px 230px 25px 230px;
      }
      footer h1 {
        color: #fff;
        text-align: center;
        font-size: 30px;
        height: 30px;
        padding: 21px 0 29px 0;
      }
      div.outer {
        background-color: #F7F7F7;
      }
      div.main {
        width: 560px;
        margin: 0 auto;
        padding-bottom: 50px;
        padding-top: 5px;
      }
      div.content {
        background-color: #FFF;
        padding: 20px 10px 20px 10px;
      }

  body
    div(class='outer')
      div(class='main')
        header
          img(src='https://www.datasektionen.se/static/gfx/Skold_Vit_Final.png')
        div(class='content')
          p 
            | Hej, #{fullname}!
          br
          p
            |  Den #{date} äger #{sm} rum och där sker val till ett antal poster på sektionen. Du får detta mail för att du har blivit nominerad till posterna:
            ul
            each post in posts
              li
                = post
          br
          p
            |  För att kunna tacka ja till en nominering måste du vara sektionsmedlem i Konglig Datasektionen, om du inte är det kan du enkelt bli medlem genom att betala ett medlemskap till kåren på 
            a(href='//ths.kth.se') ths.kth.se
            | .
          br
          p
            |  Det är viktigt att du mailar Valberedningen och svarar huruvida du accepterar nomineringen eller ej. Vi ser gärna att du svarar så fort du har bestämt dig för att underlätta i vårt arbete, dock är sista dagen att acceptera nomineringen den 16:e maj, alltså dagen innan Val-SM där valet sker. 
          br
          p
            |  På valsidan kan du se vilka andra som är nominerade. Se även funktionärssidan för mer utförlig information om posten. Det går även bra att fråga medlemmarna i Valberedningen eller skicka eventuella frågor till 
            a(href='mailto:valberedning@d.kth.se') valberedning@d.kth.se
            | .
          br
          p
            |  Med vänliga hälsningar,
          br
          p
            | Valberedningen
        footer
          h1 Konglig Datasektionen