h1 #{fullname}

p 
  | Hej!
br
p
  |  Den 17:e maj äger Val-SM rum och där sker val till ett antal poster på sektionen. Du får detta mail för att du har blivit nominerad till posten som Studerandeskyddsombud.
br
p
  |  För att kunna tacka ja till en nominering måste du vara sektionsmedlem i Konglig Datasektionen, om du inte är det kan du enkelt bli medlem genom att betala ett medlemskap till kåren på www.ths.kth.se.
br
p
  |  Det är viktigt att du mailar Valberedningen och svarar huruvida du accepterar nomineringen eller ej. Vi ser gärna att du svarar så fort du har bestämt dig för att underlätta i vårt arbete, dock är sista dagen att acceptera nomineringen den 16:e maj, alltså dagen innan Val-SM där valet sker. 
br
p
  |  På valsidan kan du se vilka andra som är nominerade. Se även funktionärssidan för mer utförlig information om posten. Det går även bra att fråga medlemmarna i Valberedningen eller skicka eventuella frågor till valberedning@d.kth.se.
br
p
  |  Med vänliga hälsningar,
  | Valberedningen
